
<div class="nav-wrapper">
    <ul id="nav" class="nav" data-slim-scroll data-collapse-nav data-highlight-active>
        
        <li class="nav-title"> <span data-translate="NAVIGATION"></span> </li>

        <li><a md-button aria-label="meanu" href="#/dashboard"><i class="zmdi zmdi-home"></i><span data-translate="DASHBOARD"></span> </a></li>

        <li class="nav-divider"></li>
        
        <li>
            <a md-button aria-label="meanu" href="#/product"><i class="zmdi zmdi-view-list"></i><span data-translate="PRODUCTS"></span></a>
             <ul>
                <li><a md-button aria-label="meanu" href="#/product/productview"><i class="fa fa-circle"></i><span data-translate="VIEW_PRODUCT"></span></a></li>
                 <li><a md-button aria-label="meanu" href="#/product/productregister"><i class="fa fa-circle"></i><span data-translate="REGISTER_PRODUCT"></span></a></li>
            </ul>
        </li>
        
        <li>
            <a md-button aria-label="meanu" href="#/user"><i class="zmdi zmdi-view-list"></i><span data-translate="USER"></span></a>
             <ul>
                <li><a md-button aria-label="meanu" href="#/user/userview"><i class="fa fa-circle"></i><span data-translate="VIEW_USER"></span></a></li>
                 <li><a md-button aria-label="meanu" href="#/user/userregister"><i class="fa fa-circle"></i><span data-translate="REGISTER_USER"></span></a></li>
            </ul>
        </li>
        
        <li>
            <a md-button aria-label="meanu" href="#/lot"><i class="zmdi zmdi-view-list"></i><span data-translate="LOT"></span></a>
             <ul>
                 <li><a md-button aria-label="meanu" href="#/lot/lotview"><i class="fa fa-circle"></i><span data-translate="VIEW_LOT"></span></a></li>
                 <li><a md-button aria-label="meanu" href="#/lot/lotregister"><i class="fa fa-circle"></i><span data-translate="REGISTER_LOT"></span></a></li>
            </ul>
        </li>

        <li>
            <a md-button aria-label="meanu" href="#/page"><i class="zmdi zmdi-pages"></i><span data-translate="LOGIN"></span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/page/signin"><i class="fa fa-circle"></i><span data-translate="SIGN_IN"></span></a></li>
            </ul>
        </li>
    </ul>
</div>