
<div class="page page-table" data-ng-controller="DataCtrl">

    <div class="row ui-section">
        
    <div class="col-lg-8 clearfix">
        <h2 class="section-header"><span data-translate="PRODUCT"></h2>
    </div>
        
        <tr></tr>
        
    <div class="col-md-12" ng-init="loadData()">
        
        
  
        
        <table class="table table-striped">
        <tr>
            <th><span data-translate="IDPRODUCT"></span></th>
            <th><span data-translate="PRCODE"></span></th>
            <th><span data-translate="PRDATECREATE"></span></th>
            <th><span data-translate="PRDESCRIPTION"></span></th>
            <th><span data-translate="PRGTIN"></span></th>
            <th><span data-translate="PRIMAGE"></span></th>
            <th><span data-translate="PRNAME"></span></th>
            <th><span data-translate="PRMO"></span></th>
            <th><span data-translate="PRXRF_LOW"></span></th>
            <th><span data-translate="PRXRF_HIGH"></span></th>
            <th><span data-translate="PRTO"></span></th>
            <th><span data-translate="PRTENV"></span></th>
            <th><span data-translate="PRTAU"></span></th>
            <th><span data-translate="PRLASTUPDATE"></span></th>
            <th><span data-translate="PRSTATUS"></span></th>
        </tr>
            <tr data-ng-repeat="product in products">
            <td>{{product.idproduct}}</td>
            <td>{{product.prcode}}</td>
            <td>{{product.prdatecreate}}</td>
            <td>{{product.prdescription}}</td>
            <td>{{product.prgtin}}</td>
            <td>{{product.primage}}</td>
            <td>{{product.prname}}</td>
            <td>{{product.prmo}}</td>
            <td>{{product.prxrf_low}}</td>
            <td>{{product.prto}}</td>
            <td>{{product.prtenv}}</td>
            <td>{{product.prtau}}</td>
            <td>{{product.prlastupdate}}</td>
            <td>{{product.prstatus}}</td>
            <td>{{product.prxrf_high}}</td>

            </tr>
            
        </table>
        
    </div>
    </div>
    
</div>