
<section class="page-form-ele page" ng-controller="LotregisterCtrl">


    <div class="row ui-section" >
        <div class="col-lg-8 clearfix"> <h2 class="section-header"><span data-translate="LOT_REGISTER"></span></h2> </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <div layout-padding>
                                    <form name="userForm" ng-submit="submit()">

                                        <div layout layout-sm="column">

                                            <md-input-container flex>
                                                <label><span data-translate="LOT_CODE"></span></label>
                                                <input ng-model="lotVO.locode">
                                            </md-input-container>

                                            <md-input-container flex>
                                                <label><span data-translate="IDENTIFICATION"></span></label>
                                                <input ng-model="lotVO.loidentification">
                                            </md-input-container>

                                        </div>
                                        
                                        <div layout layout-sm="column">
                                            
                                            <md-input-container flex>
                                                <label><span data-translate="GTIN"></span></label>
                                                <input ng-model="lotVO.logtin">
                                            </md-input-container>
                                            
                                        </div>
                                        
                                   <div layout layout-sm="column">

                                            <div class="col-sm-4">
                                                <p><span data-translate="MANUFACTURE_DATE"></span></p>
                                                <div class="divider"></div>
                                                <md-datepicker ng-model="lotVO.lomanufacturedate" md-placeholder="ENTER_DATE"></md-datepicker>
                                            </div>
                                       
                                            <div class="col-sm-4">
                                                <p><span data-translate="EXPIRE_DATE"></span></p>
                                                <div class="divider"></div>
                                                <md-datepicker ng-model="lotVO.loexpiredate" md-placeholder="ENTER_DATE"><span data-translate="SAVE"></span></md-datepicker>
                                            </div>
                                       
                                            <md-input-container class="col-sm-8">
                                            </md-input-container>

                                   </div>
                                        
                                        <br>
                                        <td><md-button aria-label="..." class="md-raised btn-xs md-primary" type="submit" ><span data-translate="SAVE"></span></md-button><div class="divider"></div></td>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>

</section>
