
<div class="page page-table" data-ng-controller="LotviewCtrl">

    <div class="row ui-section">
        
    <div class="col-lg-8 clearfix">
        <h2 class="section-header"><span data-translate="LOT_VIEW"></span></h2>
    </div>
        
        <tr></tr>
   
    <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
            <div class="col-sm-4 col-xs-6">
            </div>
            </div>
        </div>

        <table ng-table="tableParams" class="table table-bordered table-striped table-responsive" >

            <tr>
                <th><span data-translate="ID_PRODUCT"></span></th>
                <th><span data-translate="LOT_CODE"></span></th>
                <th><span data-translate="LOT_EXPIREDATE"></span></th>
                <th><span data-translate="LOT_MANUFACTUREDATE"></span></th>
                <th><span data-translate="LOT_GTIN"></span></th>
                <th><span data-translate="LOT_IDENTIFICATION"></span></th>
                <th><span data-translate="LOT_STATUS"></span></th>
                <th><span data-translate="EDIT"></span></th>
                <th><span data-translate="DELETE"></span></th>
            </tr>

            <tr data-ng-repeat="lotVO in lotVO"  >
  
                <td>{{lotVO.idlot}}</td>
                <td>{{lotVO.locode}}</td>
                <td>{{lotVO.loexpiredate  | date:'dd-MM-yyyy'}}</td>
                <td>{{lotVO.lomanufacturedate  | date:'dd-MM-yyyy'}}</td>
                <td>{{lotVO.logtin}}</td>
                <td>{{lotVO.loidentification}}</td>
                <td>{{showProducts(lotVO.lostatus)}}</td>
                <td  ><md-button class="md-raised btn-xs md-primary" ng-click="findLot(lotVO.idlot)" aria-label="..." href="#/lot/lotregister"><span data-translate="EDIT" ></span></md-button></td>
                <td ><md-button class="md-raised btn-xs md-warn" ng-click="showConfirm(lotVO.idlot)" aria-label="..."><span data-translate="DELETE"></span></md-button></td>
            </tr>
        </table>
        
        
        
        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                Show 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>

                <md-button class="md-fab md-primary md-fab-sm" aria-label="chevron" data-name="chevron-left" data-code="f2ea" ng-click="previous()"><span class="zmdi zmdi-chevron-left"></span></md-button><div class="space"></div>
                <md-button class="md-fab md-primary md-fab-sm" aria-label="chevron" data-name="chevron-right" data-code="f2ea" ng-click="next()"><span class="zmdi zmdi-chevron-right"></span></md-button><div class="space"></div>

            </div>
        </footer>
    </section>

    </div>
</div>
    