
<section class="page-form-ele page" ng-controller="ProductregisterCtrl">


    <div class="row ui-section" >
        <div class="col-lg-8 clearfix"> <h2 class="section-header"><span data-translate="PRODUCT_REGISTER"></span></h2> </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <div layout-padding>
                                    <form name="productForm" ng-submit="submit()">
                                                                      
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label><span data-translate="PRODUCT_NAME"></span></label>
                                                <input name="productname" ng-model="productVO.prname">
                                                <span ng-show="productForm.$submitted && productVO.prname.$error.required" >Nome obrigatório</span>
                                            </md-input-container>
                                            
                                            <md-input-container flex>
                                                <label><span data-translate="PRODUCT_CODE"></span></label>
                                                <input ng-model="productVO.prcode">
                                            </md-input-container>
                                            
                                            <md-input-container >
                                                <label><span data-translate="PRODUCT_GTIN"></span></label>
                                                <input ng-model="productVO.prgtin">
                                            </md-input-container>
                                        </div>
                                        
                                        <div layout layout-sm="column">
                                            <md-input-container class="col-sm-4">
                                                <label><span data-translate="XRF_LOW"></span></label>
                                                <input ng-model="productVO.prxrfLow">
                                            </md-input-container>

                                            <md-input-container class="col-sm-4">
                                                <label><span data-translate="T_OVER"></span></label>
                                                <input ng-model="productVO.prto">
                                            </md-input-container>

                                            <md-input-container class="col-sm-4">
                                                <label><span data-translate="T_ENV"></span></label>
                                                <input ng-model="productVO.prtenv">
                                            </md-input-container>
                                        </div>
                                        
                                         <div layout layout-sm="column">
                                            <md-input-container class="col-sm-4">
                                                <label><span data-translate="TAU"></span></label>
                                                <input ng-model="productVO.prtau">
                                            </md-input-container>

                                            <md-input-container class="col-sm-4">
                                                <label><span data-translate="XRF_HIGH"></span></label>
                                                <input ng-model="productVO.prxrfHigh">
                                            </md-input-container>

                                            <md-input-container class="col-sm-4">
                                                <label><span data-translate="MO"></span></label>
                                                <input ng-model="productVO.prmo">
                                            </md-input-container>     
                                        </div>
                                        
                                        <md-input-container class="md-block">
                                            <label><span data-translate="DESCRIPTION"></span></label>
                                            <textarea ng-model="productVO.prdescription" columns="1" md-maxlength="150"></textarea>
                                            <span ng-show="productForm.$submitted && productForm.productVO.prdescription.$error.maxlength" >Nome obrigatório</span>
                                        </md-input-container>

                                        <td><md-button aria-label="..." class="md-raised btn-xs md-primary" type="submit"><span data-translate="SAVE"></span></md-button><div class="divider"></div></td>
                                    </form>
                                    
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>

</section>
