
<div class="page page-table" data-ng-controller="ProductviewCtrl">

    <div class="row ui-section">
        
    <div class="col-lg-8 clearfix">
        <h2 class="section-header"><span data-translate="PRODUCT_VIEW"></span></h2>
    </div>
        
        <tr></tr>
        
     
        
    <section class="panel panel-default table-dynamic">
        <div class="table-filters">
            <div class="row">
            <div class="col-sm-4 col-xs-6">
            </div>
            </div>
        </div>

        <table ng-table="tableParams" class="table table-bordered table-striped table-responsive" >

            <tr>
                <th><span data-translate="ID_PRODUCT"></span></th>
                <th><span data-translate="NAME"></span></th>
                <th><span data-translate="MO"></span></th>
                <th><span data-translate="GTIN"></span></th>
                <th><span data-translate="DESCRIPTION"></span></th>
                <th><span data-translate="XRF_LOW"></span></th>
                <th><span data-translate="XRF_HIGH"></span></th>
                <th><span data-translate="TO"></span></th>
                <th><span data-translate="T_ENV"></span></th>
                <th><span data-translate="TAU"></span></th>
                <th><span data-translate="STATUS"></span></th>
                <th><span data-translate="EDIT"></span></th>
                <th><span data-translate="DELETE"></span></th>
            </tr>

            
            <tr data-ng-repeat="productVO in productVO"  ng-switch on="productVO.prstatus"  >
                <td>{{productVO.idproduct}}</td>
                <td>{{productVO.prname}}</td>
                <td>{{productVO.prmo}}</td>
                <td>{{productVO.prgtin}}</td>
                <td>{{productVO.prdescription}}</td>
                <td>{{productVO.prxrf_low}}</td>
                <td>{{productVO.prxrf_high}}</td>
                <td>{{productVO.prto}}</td>
                <td>{{productVO.prtenv}}</td>
                <td>{{productVO.prtau}}</td>
                <td>{{showProducts(productVO.prstatus)}}</td>
                <td  ><md-button class="md-raised btn-xs md-primary" ng-click="findProduct(productVO.idproduct)" aria-label="..." href="#/product/productregister"><span data-translate="EDIT" ></span></md-button></td>
                <td ><md-button class="md-raised btn-xs md-warn" ng-click="showConfirm(productVO.idproduct)" aria-label="..."><span data-translate="DELETE"></span></md-button></td>
            </tr>
        </table>
        
        
        
        <footer class="table-footer">
            <div class="row">
            <div class="col-md-6 page-num-info">
                <span>
                Show 
                <select data-ng-model="numPerPage"
                    data-ng-options="num for num in numPerPageOpt"
                    data-ng-change="onNumPerPageChange()">
                </select> 
                entries per page
                </span>
            </div>

                <md-button class="md-fab md-primary md-fab-sm" aria-label="chevron" data-name="chevron-left" data-code="f2ea" ng-click="previous()"><span class="zmdi zmdi-chevron-left"></span></md-button><div class="space"></div>
                <md-button class="md-fab md-primary md-fab-sm" aria-label="chevron" data-name="chevron-right" data-code="f2ea" ng-click="next()"><span class="zmdi zmdi-chevron-right"></span></md-button><div class="space"></div>

            </div>
        </footer>
    </section>

    </div>
</div>
    