
<div class="page page-table" data-ng-controller="UserviewCtrl">

    <div class="row ui-section">
        
    <div class="col-lg-8 clearfix">
        <h2 class="section-header"><span data-translate="USER_VIEW"></h2>
    </div>
        
        <tr></tr>
        
    <div class="col-md-12">
  
         <table class="table table-striped" >
         <tr>
            <th><span data-translate="ID_USER"></span></th>
            <th><span data-translate="DATE_CREATE"></span></th>
            <th><span data-translate="EMAIL"></span></th>
            <th><span data-translate="NAME"></span></th>
            <th><span data-translate="PASSWORD"></span></th>
            <th><span data-translate="USERNAME"></span></th>
            <th><span data-translate="LAST_LOGIN"></span></th>
            <th><span data-translate="EDIT"></span></th>
            <th><span data-translate="DELETE"></span></th>
        </tr>
            
        <tr data-ng-repeat="UserVO in ocw.UserVO">
            <td>{{UserVO.iduser}}</td>
            <td>{{UserVO.usdatecreate}}</td>
            <td>{{UserVO.usemail}}</td>
            <td>{{UserVO.usname}}</td>
            <td>{{UserVO.uspassword}}</td>
            <td>{{UserVO.ususername}}</td>
            <td>{{UserVO.uslastlogin}}</td>
            <td><md-button class="md-raised btn-xs md-primary"><span data-translate="EDIT"></md-button><div class="divider"></td>
            <td><md-button class="md-raised btn-xs md-warn"><span data-translate="DELETE"></md-button><div class="divider"></td>
                
        </tr>
 </table>
        
    </div>
    </div>
    
</div>