
<section class="page-form-ele page" >

    <div class="row ui-section" >
        <div class="col-lg-8 clearfix"> <h2 class="section-header"><span data-translate="USER_REGISTER"></span></h2> </div>
        <div class="col-md-12">
            <section class="panel panel-default">
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-8 col-lg-offset-2">

                            <div layout="column" ng-cloak class="md-inline-form inputdemoBasicUsage">
                                <div layout-padding>
                                    <form name="userForm">
                              
                                        <div layout layout-sm="column">
                                            <md-input-container flex>
                                                <label><span data-translate="USER_NAME"></span></label>
                                                <input ng-model="">
                                            </md-input-container>
                                        </div>
                                        
                                        <div layout layout-sm="column">    
                                            <md-input-container flex>
                                                <label><span data-translate="USER_EMAIL"></span></label>
                                                <input ng-model="">
                                            </md-input-container>
                                        </div>
                                      <td><md-button class="md-raised btn-xs md-primary"><span data-translate="SAVE"></md-button><div class="divider"></td>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </section>    
        </div>
    </div>

</section>
