

<div class="page-signin" ng-controller="authCtrl">

    <div class="wrapper">
        <div class="main-body">
            <div class="body-inner">
                <div class="card bg-white">
                    <div class="card-content">

                        <form class="form-horizontal" action="/" id ="myLogin">
                            
                            <fieldset>
                                
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input type="text" id="company" required class="form-control">
                                        <span class="input-bar"></span>
                                          <label>Company</label>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input type="text" name="username" id="username" class="form-control" ng-model="username" required />
                                        <span ng-show="form.username.$dirty && form.username.$error.required" class="help-block">Username is required</span>
                                        <label>Username</label>
                                    </div>
                                </div>
                                
                                <div class="form-group">
                                    <div class="ui-input-group">        
                                        <input type="password" name="password" id="password" class="form-control" ng-model="password" required />
                                        <span ng-show="form.password.$dirty && form.password.$error.required" class="help-block">Password is required</span>
                                        <label>Password</label>
                                    </div>
                                </div>
                                
                            </fieldset>

                        </form>
                    </div>
                    
                    <div class="card-action no-border text-right">
                    <button type="button" ng-click="submit()" class="btn btn-danger">Login</button>
                    </div>
                </div>

            </div>                
        </div>

    </div>

</div>

   